.intro {
    max-width: 690px;
    padding-left: 11.5%;
    padding-top: 92px;
}

@media (max-width: 1024px) {
    .intro {
        padding-left: 48px;
    }
}

@media (max-width: 768px) {
    .intro {
        max-width: 720px;
        margin: 0 auto;
        padding: 88px 24px 0;
    }
}

@media (max-width: 360px) {
    .intro {
        max-width: 288px;
        padding: 64px 16px 0;
    }
}