.cover {
    min-height: 740px;
    max-width: 1184px;
    margin: 0 auto;
    margin-top: 92px;
    position: relative;
}

@media (max-width: 1024px) {
    .cover {
        max-width: 100%;
        min-height: 640px;
    }
}

@media (max-width: 768px) {
    .cover {
        min-height: 480px;
        margin-top: 64px;
    }
}

@media (max-width: 360px) {
    .cover {
        min-height: 200px;
        margin-top: 38px;
    }
}