.footer {
    max-width: 1184px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    margin: 0 auto;
    padding-bottom: 24px;
    padding-top: 92px;
}

@media (max-width: 320px) {
    .footer {
        flex-direction: column;
        max-width: 186px;
        min-height: 310px;
        font-size: 24px;
        line-height: 1;
        margin-left: 16px;
        padding-top: 64px;
    }
}