.footer {
    max-width: 1184px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    margin: 0 auto;
    padding: 92px 48px 24px;
}

@media (max-width: 1024px) {
    .footer {
        max-width: 928px;
    }
}

@media (max-width: 768px) {
    .footer {
        max-width: 720px;
        padding: 88px 24px 24px;
    }
}

@media (max-width: 730px) {
    .footer {
        flex-direction: column;
        max-width: max-content;
        font-size: 24px;
        line-height: 1;
        margin-left: 16px;
        padding: 64px 0 24px;
    }
}